@import "node_modules/bootstrap/scss/bootstrap";
@import "./clean-blog.scss";

.masthead {
  // background: "#212529";
  background: url("https://s3-us-west-2.amazonaws.com/victorgu-nextjs/home-bg.jpg");
}

$font-size: 50px;
.example {
  font-size: $font-size;
}